
services:
  php-apcu-test:
    volumes:
      - /app
    build:
      context: .
      dockerfile: tests/Dockerfile.apcu

  nginx-apcu-test:
    image: nginx:alpine
    ports:
      - "${CUBE_TEST_NGINX_APCU_PORT:-8003}:80"
    volumes:
      - /app
      - ./tests/apcu-nginx-vhost.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php-apcu-test

  mysql:
    image: mysql
    restart: always
    volumes:
      - type: tmpfs
        target: /var/lib
        tmpfs:
          size: 134217728
    ports:
      - ${CUBE_TEST_MYSQL_PORT:-8001}:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${CUBE_TEST_DATABASE_PASSWORD:-root}
  postgres:
    image: postgres
    restart: always
    volumes:
      - type: tmpfs
        target: /dev/shm
        tmpfs:
          size: 134217728
    ports:
      - ${CUBE_TEST_POSTGRES_PORT:-8002}:5432
    environment:
      POSTGRES_PASSWORD: ${CUBE_TEST_DATABASE_PASSWORD:-root}

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "20", "1", "--loglevel", "warning"]