<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="Tests/bootstrap.php"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnRisky="true"
    failOnWarning="true"
    stopOnFailure="true"
    stopOnError="true"
>

    <testsuites>
        <testsuite name="Application Unit Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

</phpunit>